$color-theme-white:                 #F0F2F2;
$color-theme-white-2:               #F2F9F9;
$color-theme-green:                 #038C73;
$color-theme-green-2:               #1CAB8C;
$color-theme-success:               #45BF92;
$color-theme-mint-green:            #BDE9D2;
$color-theme-dark-olive-green:      #354034;
$color-theme-dark-moss-green:       #02302F;
$color-theme-blue:                  #2A86BF;


$input-focus-border-color:          $color-theme-green;

$input-btn-focus-color-opacity:     $color-theme-green-2;
$input-btn-focus-color:             none;
$input-btn-focus-blur:              none;
$input-btn-focus-box-shadow:        none;
$input-border-radius:               none;

$input-focus-bg:                    none;
$input-focus-border-color:          none;
$input-focus-color:                 none;
$input-focus-box-shadow:            none;


$input-group-addon-color:           none;
$input-group-addon-bg:              #21261F;

//$input-placeholder-color:           $color-theme-2-opacity;
//$input-plaintext-color:             $color-theme-1;

//
//
//$success:                           #21D180;
//$color-theme-1:                     #0FA3B1;
//$color-theme-2:                     #B5E2FA;
//$color-theme-3:                     #F9F7F3;
//$color-theme-4:                     #EDDEA4;
//$color-theme-5:                     #F7A072;
//
//$color-theme-2-opacity:             #B5E2FAA1;
//$color-theme-error:                 #8C3608;
//
//$form-check-input-checked-bg-color: $color-theme-1;
//
//// Modification des inputs
//$form-text-color:                   $color-theme-1;
//
//$input-btn-focus-color-opacity:     none;
//$input-btn-focus-color:             none;
//$input-btn-focus-blur:              none;
//$input-btn-focus-box-shadow:        none;
//$input-border-radius:               none;
//
//$input-focus-bg:                    $color-theme-2-opacity;
//$input-focus-border-color:          $color-theme-1;
//$input-focus-color:                 $color-theme-1;
//$input-focus-box-shadow:            $color-theme-1;
//

//
//// Button class btn
//$btn-hover-bg:                      $color-theme-1;
//$btn-bg:                            none;
//$btn-border-radius:                 none;
//
//
//// Alert
//$alert-border-radius:               none;