$color-theme-white:                 #F0F2F2;
$color-theme-white-2:               #F2F9F9;
$color-theme-green:                 #038C73;
$color-theme-green-2:               #1CAB8C;
$color-theme-success:               #45BF92;
$color-theme-mint-green:            #BDE9D2;
$color-theme-dark-olive-green:      #354034;
$color-theme-dark-moss-green:       #02302F;
$color-theme-blue:                  #2A86BF;


$input-focus-border-color:          $color-theme-green;

$input-btn-focus-color-opacity:     $color-theme-green-2;
$input-btn-focus-color:             none;
$input-btn-focus-blur:              none;
$input-btn-focus-box-shadow:        none;
$input-border-radius:               none;

$input-focus-bg:                    none;
$input-focus-border-color:          none;
$input-focus-color:                 none;
$input-focus-box-shadow:            none;


$input-group-addon-color:           none;
$input-group-addon-bg:              #21261F;

$success:                           $color-theme-success;
