@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//$color-theme-white:                 #F0F2F2;
//$color-theme-green:                 #038C73;
//$color-theme-green-2:               #1CAB8C;
//$color-theme-success:               #45BF92;
//$color-theme-mint-green:            #BDE9D2;
//$color-theme-dark-olive-green:      #354034;
//$color-theme-dark-moss-green:       #21261F;

.color-theme-white{
  color: $color-theme-white;
}

.color-theme-green{
  color: $color-theme-green;
}
.color-theme-green-2{
  color: $color-theme-green-2;
}
.color-theme-dark-olive-green{
  color: $color-theme-dark-olive-green !important;
}

.bg-theme-mint-green {
  background-color: $color-theme-mint-green;
}
body {
  font-family: 'Roboto', sans-serif;
  a{
    text-decoration: none;
  }
}

header {

  background-color: $color-theme-white-2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  form{
    div{
      padding: 0.1em !important;
      border-radius: 10px !important;
      border: 2px solid $color-theme-mint-green !important;
    }
    div:focus{
      border: 3px solid $color-theme-mint-green !important;
    }
  }
  .btn-custom{
    font-size: 1.2em;
    background-color: $color-theme-success;
    color: $color-theme-white;
    padding: 0.8em 0.8em 0.7em 0.8em !important;
    border-radius: 10px !important;
  }

  li:hover{
    font-size: 1.25em;
    color: $color-theme-dark-moss-green;
  }

}

@media only screen and (min-width: 400px) and (max-width: 991px) {
  header{

    #form-search{
      width: 100% !important;
      display: flex;
      justify-content: center !important;
      form{
        width: 70% !important;
        input{
          padding: 0.8em 0.8em 0.7em 0.8em !important;
          border-radius: 10px !important;
        }
      }
    }

    ul{
      width: 100% !important;
      li{
        a{
          width: 100% !important;
          text-align: center;
        }
      }
    }


    #add-item {
      width: 100% !important;
      display: flex;
      justify-content: center;
      margin: 1em 0;

      .btn-custom {
        color: $color-theme-white;
        padding: 0.8em 0.8em 0.7em 0.8em !important;
        border-radius: 10px !important;
      }
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1519px) {
  header nav{
    width: 95% !important;
    margin: auto;
    // Formulaire recherche
    #form-search{
      width: 30% !important;
      input{
        padding: 0.8em 0.8em 0.7em 0.8em !important;
        border-radius: 10px !important;
      }
    }

    .has-search .form-control-feedback {
      top: 1.5em !important;
      left: 10em !important;
    }

    ul{
      width: 65% !important;

      li:hover{
        font-size: 1.1em;
        color: $color-theme-dark-moss-green;
      }
    }

    #add-item{
      width: 20%;
      .btn-custom{
        color: $color-theme-white;
        padding: 0.8em 0.8em 0.5em 0.8em !important;
        border-radius: 10px !important;
      }
      .add-item-text{
        display: none;
      }
      span{
        padding: 0 !important;
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (min-width: 1015px){
  .has-search .form-control-feedback {
    top: 1.5em !important;
    left: 15em !important;
  }
}




