<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        {% block head %}
        {% endblock %}


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    </head>
    <body>
        <!-- Header-->
        {% block header %}
            {% include '_partial/header.html.twig' %}
        {% endblock %}
        <main>
            {% block main %}{% endblock %}
        </main>
        <!-- Footer-->
        {% block footer %}
            {% include '_partial/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
