<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- Header-->
        {% block header %}
            {% include '_partial/header.html.twig' %}
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <!-- Footer-->
        {% block footer %}
            {% include '_partial/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
