
<!-- Footer -->
<footer class="text-center text-lg-start box-shadow-fh bg-theme-white-2 color-theme-dark-olive-green">
    <!-- Grid container -->
    <div class="p-4 pb-0 col-11 mx-auto">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-5 mx-auto mt-3">
                    <a class="navbar-brand" href="/"><img class='col-3' src="{{ asset('img/logo/logo-all-color.svg') }}" alt="Logo du site" ></a>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none m-2" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 color-theme-dark-olive-green">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Informations générales</h6>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Qui sommes-nous ?</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Conditions générales d'utilisation</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Conditions générales de vente</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">RGPD et gestion de cookies</a></p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none m-3" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Des questions</h6>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Aides</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Le service de paiement</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">Connexion et sécurité</a></p>
                    <p class="my-1"><a class="color-theme-dark-olive-green" href="">RGPD et gestion de cookies</a></p>
                </div>

                <!-- Grid column -->
{#                <hr class="w-100 clearfix d-md-none" />#}
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">© {{ 'now' | date('Y') }} Copyright: <a class="color-theme-dark-olive-green" href="/">rentall.com</a></div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end" id="icon-network">
                    <!-- Facebook -->
                    <a class="btn border-theme-dark-olive-green bg-theme-white-2"><i class="bi bi-facebook"></i></a>

                    <!-- Twitter -->
                    <a class="btn color-theme-dark-olive-green bg-theme-white-2"><i class="bi bi-twitter-x"></i></a>

                    <!-- Instagram -->
                    <a class="btn color-theme-dark-olive-green bg-theme-white-2"><i class="bi bi-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn color-theme-dark-olive-green bg-theme-white-2"><i class="bi bi-linkedin"></i></a>

                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->
